{% extends "layout.html" %}
{% load static %}


{% block content %}
    <div class="container">
        <form method="post">
        <h3>Add a new appointment</h3>
        <p>Notice: after the appointment a patient will be hospitalized </p>
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }} {{ field }}
        {% endfor %}
            <div class="right-align total">
                <button type="submit" class="waves-effect waves-light btn green submit">Submit</button>
            </div>
        </form>
    </div>

{% endblock content %}

