{% extends "layout.html" %}
{% load static %}

{% block content %}

    <div class="tab_container">
        <div class="tab">
            <div id="filter_tab">
                <h5>Filter by:</h5>
                <p>Specialization</p>
                <div class="row">
                    <p>
                        <label>
                            <input type="checkbox" value="General Surgery" name="save_info" class="filled-in myCheckBox">
                            <span>General Surgery</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" value="Thoracic Surgery" name="save_info" class="filled-in myCheckBox">
                            <span>Thoracic Surgery</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" value="Colon and Rectal Surgery" name="save_info" class="filled-in myCheckBox">
                            <span>Colon and Rectal Surgery</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" value="Neurological Surgery" name="save_info" class="filled-in myCheckBox">
                            <span>Neurological Surgery</span>
                        </label>
                    </p>
                </div>

                <button class="myCheckButton waves-effect light-blue btn">Filter</button>
                <a href="{% url 'doctors' %}" class="waves-effect red btn" >Reset</a>
            </div>

            <h5>Sort by:</h5>
            <ul>
                <li><button onclick="sortByText(1)" class="waves-effect grey btn" >patient's name</button></li>
                <li><button onclick="sortByText(2)" class="waves-effect grey btn" >doctor's name</button></li>
                <li><button onclick="sortByNum(0)" class="waves-effect grey btn">id</button></li>
            </ul>

        </div>

        <div class="tab_c">
            <div class="inline_buttons">
                <h4>Surgeries</h4>
                <a class="waves-effect green btn" href="{%  url 'arrange_surgery' %}">Arrange a surgery</a>
            </div>

            <input type="text" id="search_input" placeholder="Search for patients.." title="Type in a name">

                <table id='table' class="responsive-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Patient</th>
                            <th>Doctor</th>
                            <th>Specialization</th>
                            <th>Date and time</th>
                            <th>Status</th>
                            <th>Appointment ID</th>
                        </tr>
                    </thead>

                    <tbody id="myTable">
                    {% for surgery in surgeries %}
                        <tr>
                            <td>{{ surgery.surgery_id }}</td>
                            <td><a href="{%  url 'manage_patient' surgery.appointment_id.patient_id.patient_id %}">{{ surgery.appointment_id.patient_id.last_name }} {{ surgery.appointment_id.patient_id.first_name }}</a> </td>
                            <td><a href="{%  url 'manage_doctor' surgery.appointment_id.doctor_id.doctor_id%}"> {{ surgery.appointment_id.doctor_id.last_name }} {{ surgery.appointment_id.doctor_id.first_name }}</a></td>
                            <td>{{ surgery.appointment_id.doctor_id.get_specialization_display }}</td>
                            <td>{{ surgery.surgery_datetime }}</td>
                            <td>{{ surgery.get_surgery_status_display }}</td>
                            <td>{{ surgery.appointment_id.appointment_id }}</td>
                            <td><a href="{%  url 'surgery_certificate' surgery.surgery_id %}">Surgery Certificate</a></td>
                            <td><a class="waves-effect blue btn" href="{%  url 'manage_surgery' surgery.surgery_id %}">Edit</a></td>
                            <td><a href="{% url 'remove_surgery' surgery.surgery_id %}" class="right-align"><i class="fas fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>

    </div>

{% endblock %}






















